      <div id="main">
<!-- Raymond index.htm.erb -->
        <h1 class="title"><i class="fa fa-compass"></i>&nbsp;MPC&nbsp;Data&nbsp;Explorer</h1>
        <h3 class="mission">Finding Asteroids Before They Find Us!</h3>

        <div class="container-fluid mission">
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-mission">Mission</h4>
              <p class="text-mission">
                Your mission is to <strong>discover, learn and share</strong> information about
                asteroids to increase awareness about asteroids and their impact and risks to the world.
              </p>
              <p class="text-mission">
                Asteroids, also called minor planets, are rocky remnants left over from the
                early formation of our solar system about 4.6 billion years ago. Despite their
                size, asteroids can be dangerous. Many have hit Earth in the past, and more
                will crash into our planet in the future. That's one reason scientists who
                study asteroids are eager to learn more about their numbers, orbits and
                physical characteristics. <a href="ae-about.html" class="ae-link">More about this project...</a>
              </p>
              <p class="text-mission">
                <strong>Start exploring today with our scientists and help to stop
                asteroids before they hit us!</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="container ae-gallery-container center">
          <div class="row">
            <div class="col-md-6 ">
              <div class="thumbnail ae-thumbnail">
                <a href="/mpc/control-panel.html"><img src="/mpc/images/Chelyabinsk.jpg" class="ae-gallery-thumb" alt="Chelyabinsk meteor"></a>
                <div class="caption">
                  <h5>Which asteriods are the most hazardrous?</h5>
                  <p>On 15 February 2013, an approximately 20 meter meteor exploded in the Earth's atmosphere above Chelyabinsk, Russia, causing damage to thousands of buildings.</p>
                  <p><a href="/mpc/control-panel.html" class="btn btn-block ae-btn-explore" role="button"><i class="fa fa-compass fa-lg"></i>&nbsp;Explore</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail ae-thumbnail">
                <a href="/mpc/control-panel.html"><img src="/mpc/images/Eros.jpg" class="ae-gallery-thumb" alt="Minor planet (433) Eros."></a>
                <div class="caption">
                  <h5>Which asteriods are the biggest?</h5>
                  <p>Minor planet (433) Eros is the second largest known Near Earth asteroid. It is approximately 17 kilometers in size.<br><br></p>
                  <p><a href="/mpc/control-panel.html" class="btn btn-block ae-btn-explore" role="button"><i class="fa fa-compass fa-lg"></i>&nbsp;Explore</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="thumbnail ae-thumbnail">
                <a href="/mpc/control-panel.html"><img src="/mpc/images/inner2.gif" class="ae-gallery-thumb" alt="Inner solar system."></a>
                <div class="caption">
                  <h5>Which asteroids are flying by Earth this month?</h5>
                  <p>The inner solar system for 15 May 2015. Near-Earth asteroids are shown in red, other minor planets in green.</p>
                  <p><a href="/mpc/control-panel.html" class="btn btn-block ae-btn-explore" role="button"><i class="fa fa-compass fa-lg"></i>&nbsp;Explore</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail ae-thumbnail">
                <a href="/mpc/control-panel.html"><img src="/mpc/images/peri-0.1.png" class="ae-gallery-thumb" alt="Minor planets with perihelion distance < 0.1 AU."></a>
                <div class="caption">
                  <h5>Which asteroids are easiest to travel to?</h5>
                  <p>As of 2015, 7 minor planets are known with perihelion (Solar) distances less than 0.1 astronomical units (about 9 million miles). </p>
                  <p><a href="/mpc/control-panel.html" class="btn btn-block ae-btn-explore" role="button"><i class="fa fa-compass fa-lg"></i>&nbsp;Explore</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
