<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="icon" type="image/png" href="../../../public/mpc/images/MPClogo16.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MPC: Asteroids Data Explorer - <%= @asteroid.designation %></title>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<!-- font awesome -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- font awesome -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- ae asteroid explorer css + js -->
  <link rel="stylesheet" href="/mpc/css/asteroid-explorers.css">
  <script src="/mpc/js/asteroid-explorers.js"></script>


<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
    trigger: 'hover',
        'placement': 'top'
    });
});
</script>

</head>

<body>


<!-- START ae content - detail page-->
<a name="top_page"></a>

<div class="ae-main">

  <div class="ae-header">
      <div id="ae-nav">
       <div id="ae-nav-header">
          <h1 class="ae-title"><i class="fa fa-compass"></i>&nbsp;MPC&nbsp;Asteroid&nbsp;Data&nbsp;Explorer</h1>
          <div class="btn-group ae-nav-btn-group" role="group">
            <a type="button" class="btn ae-nav-btn" href="/mpc/index.html">Discover</a>
            <a type="button" class="btn ae-nav-btn" href="/mpc/ae-about.html">About</a>
            <a type="button" class="btn ae-nav-btn" href="/cpanel?filter_type=hazard#">Explore</a>
          </div>
        </div>
        <div id="ae-header-detail">
            <h2 class="ae-asteroid-title">Asteroid: <%= @asteroid.designation %></h2>
            <div id="ae-header-actions-2nd">
     <a href="<%= @asteroid.url %>" class="btn ae-btn-default" role="button"><i class="fa fa-connectdevelop"></i>&nbsp;Orbit&nbsp;Details</a>&nbsp;&nbsp;<a href="https://twitter.com/intent/tweet?text=Check+out+Near+Earth+%23Asteroid+<%= @asteroid.designation %>!+Via+@MinorPlanetCtr+%23AsteroidExplorers" class="btn ae-btn-default" role="button"><i class="fa fa-twitter"></i>&nbsp;Share</a> <span class="ae-btn-divider">|</span> <a onclick="closeWindow();" class="btn ae-btn-default" role="button"><i class="fa fa-step-backward"></i>&nbsp;Close</a>
            </div>
          </div>
        </div>
  </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-6">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Summary</h3>

                <form class="form-horizontal ae-form-center">
                  <div class="form-group">

                    <label class="col-md-6 control-label ae-form-label"><div href="#" class="label label-info" data-toggle="popover" data-placement="above" title="Size" data-content="Approximate size of this asteroid"><span class="fa fa-info-circle fa-lg"></span></div> Approximate Size </label>

                    <div class="col-md-6">
                      <p class="form-control-static ae-form-data"><%= @asteroid[:size] %> Meters</p>
                    </div>
                  </div>

                  <div class="form-group">
                  <label class="col-md-6 control-label ae-form-label"><div href="#" class="label label-info" data-toggle="popover" data-placement="above" title="Orbital Period" data-content="Years to complete 1 revolution around the sun"><span class="fa fa-info-circle fa-lg"></span></div> Orbital Period</label>
                    <div class="col-md-6">
                      <p class="form-control-static ae-form-data"><%= @asteroid.period %> Years</p>
                    </div>
                  </div>

                  <div class="form-group">
                  <label class="col-md-6 control-label ae-form-label"><div href="#" class="label label-info" data-toggle="popover" data-placement="above" title="Spin Period" data-content="Times the asteroid spins once around its axis"><span class="fa fa-info-circle fa-lg"></span></div> Spin Period</label>
                    <div class="col-md-6">
                      <p class="form-control-static ae-form-data"><%= @asteroid.spin_period %> Hours</p>
                    </div>
                  </div>

                  <% if @asteroid.taxonomy_class.present? %>
                      <div class="form-group">
                      <label class="col-md-6 control-label ae-form-label"><div href="#" class="label label-info" data-toggle="popover" data-placement="above" title="Spectral Class" data-content="The group in which a star is classified according to its spectrum, especially using the Harvard classification."><span class="fa fa-info-circle fa-lg"></span></div> Spectral Class</label>
                        <div class="col-md-6">
                          <p class="form-control-static ae-form-data"><%= @asteroid.taxonomy_class %></p>
                        </div>
                      </div>
                  <% end %>

                </form>

                </div>
              </div>
          </div>
    <div class="col-md-5 col-sm-6 col-xs-6">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">JPL Impact Risk</h3>
                  </div>
                  <div class="panel-body text-center">
                    <div class="ae-form-data"><%= @asteroid.impact_prob %></div>
                    <div class="ae-form-label-bottom">Impact Probability of Hitting Earth in the Future</div>
                    <p>This is the probability that the asteroid will impact Earth, calculated by NASA's Jet Propulsion Laboratory. As astronomers make more observations about this asteroid, the small probability of the asteroid hitting Earth is likely to go down or disappear altogether.</p>
                  </div>
                </div>
            </div>
        </div>


        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Potentially Hazardous Asteroid (PHA)</h3>
                </div>
              <div class="panel-body text-center">
                    <div class="ae-form-data"><%= @asteroid.pha || 'Unknown'  %></div>
<% if @asteroid.pha == 'Yes' %>
                    <p>This asteroid is classified as a Potentially Hazardous Asteroid because its orbit is close enough to Earth’s that we want to keep a special eye on it just to make sure it does not drift closer to Earth over the coming centuries.</p>

<% elsif @asteroid.pha == 'No' %>
		    <p>This asteroid is not classified as a Potentially Hazardous Asteroid because its orbit is not close enough to Earth’s. We will still keep a special eye on it just to make sure it does not drift closer to Earth over the coming centuries.</p>
<% else %>

		    <p>No PHA value is known for asteroids of this size.</p>
<% end %>
              </div>
            </div>
          </div>

        </div>
      <!-- END ROW -->

      </div>
     </div>
      <!-- END ROW -->

      <a href="#top_page" class="btn pull-right ae-btn-top bottom-button" role="button"><i class="fa fa-caret-up"></i>&nbsp;Top&nbsp;</a>

    </div>

    <!-- end container -->

    </div>
    <!-- end ae-main -->

</body>
</html>
