@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

/*common styles */

body {
  font-family: "Helvetica Neue", Verdana, Arial !important; 
  background-color: #fff;
}


.ae-main {
  width: 1100px;
  margin: 0px auto 100px auto;
}


.ae-link {
  color: #125fe5 !important;
}


h1, h2{
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Verdana, Arial !important;;
}


h1.ae-title {
  font-size: 3em !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  color: #000;

}

h2.ae-sub-title { 
  font-size: 1.8em !important;
  margin: 5px 0 18px 0 !important;
  padding: 0;
  max-width: 940px;
  color: #000;
}

h3.ae-sub-2-title {
  font-size: 1.8em !important;
  margin: 5px 0 0 5px !important;
  font-weight: 300;
  color: #000;
}


.ae-slogan {
  margin: 5px 0 0 0;
}

.ae-highlight-big{
  font-weight: 600;
  font-size: 1.2em;
  font-style: italic;
  color: #4700A3;
}


.ae-header{
margin: 15px 0 20px 0;  
}


#ae-nav {
  border: none;
  margin: auto;
  width: 100%;
}
 
#ae-nav-header {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
 
#ae-nav-header h1 {
  float: left;
} 


.ae-nav-btn-group{
  padding: 0 0 0 10px; 
}


#ae-nav-header-actions {
    float: right;
    display: inline-block;
    margin:0;
    padding: 14px 0 0 0;

}
 


/*buttons */

.ae-nav-btn { 
  color: #ffffff; 
  background-color: #6638A3; 
  border-color: #6638A3; 
} 
 
.ae-nav-btn:hover, 
.ae-nav-btn:focus, 
.ae-nav-btn:active, 
.ae-nav-btn.active, 
.open .dropdown-toggle.ae-nav-btn { 
  color: #ffffff; 
  background-color: #4700A3; 
  border-color: #6638A3; 
} 
 
.ae-nav-btn:active, 
.ae-nav-btn.active, 
.open .dropdown-toggle.ae-nav-btn { 
  background-image: none; 
} 
 
.ae-nav-btn.disabled, 
.ae-nav-btn[disabled], 
fieldset[disabled] .ae-nav-btn, 
.ae-nav-btn.disabled:hover, 
.ae-nav-btn[disabled]:hover, 
fieldset[disabled] .ae-nav-btn:hover, 
.ae-nav-btn.disabled:focus, 
.ae-nav-btn[disabled]:focus, 
fieldset[disabled] .ae-nav-btn:focus, 
.ae-nav-btn.disabled:active, 
.ae-nav-btn[disabled]:active, 
fieldset[disabled] .ae-nav-btn:active, 
.ae-nav-btn.disabled.active, 
.ae-nav-btn[disabled].active, 
fieldset[disabled] .ae-nav-btn.active { 
  background-color: #6638A3; 
  border-color: #6638A3; 
} 
 
.ae-nav-btn .badge { 
  color: #6638A3; 
  background-color: #ffffff; 
}



.ae-btn-top{
  color: #000 !important;
  font-size: 1em;
  font-weight: 600;
  background: #fff;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: inset 0 -2px #cb7b7b7;
  box-shadow: inset 0 -2px #b7b7b7;
}

.ae-btn-top:hover {
  background-color: #f1f1f1;
}


.ae-btn-default{
  color: rgb(12, 105, 230) !important;
  font-size: 1.11em;
  font-weight: 600;
  background: #fff;
  border: 1px solid rgb(12, 105, 230);
  -webkit-box-shadow: inset 0 -2px rgb(12, 105, 230);
  box-shadow: inset 0 -2px rgb(12, 105, 230);
}

.ae-btn-default:hover {
  background: rgb(233, 242, 255);
}


.ae-btn-default.active, .ae-btn-default:active{
  box-shadow: inset 0 3px 5px rgba(0,0,0,.110) !important;
}




/*
*
*
* Page: Control Panel 
*
*
*/

.ae-data-table-title{
  font-size: 1.25em !important;
  margin-top: 8px;
}

th.ae-data-table-header{
  font-size: .9em;
}

#charts {
  margin-top: 20px;
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: 500;
}

.reset {
  margin-left: 1em;
  font-size: smaller;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

#size-chart .foreground.bar {
  fill: #AAAAFF;
}

#perihelion-distance-chart .foreground.bar {
  fill: #FFD700;
}

#earth-moid-chart .foreground.bar {
  fill: #00C78C;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush rect.extent brightness{
  fill: #E5E5FF;
  fill-opacity: .125;
}

.brush rect.extent sun{
  fill: #FFFBE5;
  fill-opacity: .125;
}

.brush rect.extent earth{
  fill: #86FFDB;
  fill-opacity: .125;
}


.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#size-chart {
  width: 320px;
}

#speed-chart {
  width: 300px;
}

#perihelion-distance-chart {
  width: 300px;
}

#earth-moid-chart {
  width: 750px;
}

#km-neo {
  width: 150px;
}

#asteroid-list {
  min-height: 1024px;
}

#asteroid-list .date,
#asteroid-list .day {
  margin-bottom: .4em;
}

#asteroid-list .asteroid {
  line-height: 1.5em;
  background: #eee;
  width: 640px;
  margin-bottom: 1px;
}

#asteroid-list .time {
  color: #999;
}

#asteroid-list .asteroid div {
  display: inline-block;
  width: 100px;
}

#asteroid-list div.distance,
#asteroid-list div.delay {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

#asteroid-list .early {
  color: green;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}


.no-danger{
background-color: #fff;
}

/*stop using*/
.unknown-danger{
background-color: #fcebfc;
}

/*stop using*/
.low-danger{
background-color: #FFD6D6;
}

/*stop using*/
.med-danger{
background-color: #FFCC99;
}

/*USE - Orange color to highlight asteroids with PHA value = yes. Previous red color FF8888*/
.high-danger{
background-color: #FCCD72;
}


/*Control Panel - Buttons */
.ae-table-toggle{
  font-size: 1.05em !important;
  margin: 0;
  padding: 4px;
  border: 1px solid rgb(12, 105, 230);
  background: transparent;
  color: rgb(12, 105, 230);
}

.active.ae-table-toggle {
  font-size: 1.05em !important;
  background: rgba(255,255,255,1);
  border: 1px solid rgb(12, 105, 230);
  color: rgb(12, 105, 230);
}

.ae-table-toggle:hover{
  background: rgb(226, 239, 255);
}

.ae-table-total {
  font-size: .75em !important;
}


/* STYLES BELOW --- STILL TO TRIAGE FROM DANIEL*/


.small {
  font-size: 12px;
  color: #e7e7e7; 
}

.ae-thumbnail{
  max-width: 450px;
  padding: 0 0 4px 0;
  box-shadow: 10px;
  -webkit-transition: box-shadow .5ms ease-in-out .5ms;
  -moz-transition: box-shadow .2ms ease-in-out;
  -ms-transition: box-shadow.2ms ease-in-out;
  -o-transition: box-shadow .2ms ease-in-out;
  transition: box-shadow .5ms ease-in-out .5ms;
}

.ae-thumbnail:hover {
  -webkit-box-shadow: -2px -1px 30px 8px rgba(145,135,145,.4);
  -moz-box-shadow: -2px -1px 30px 8px rgba(145,135,145,.4);
  box-shadow: -2px -1px 30px 8px rgba(145,135,145,.4);
}


.ae-gallery-thumb{
    width: 400px
    height: 400px;
}

.ae-btn-explore {
  color: #fff !important;
  font-size: 1.2em;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #218bc3;
  border: 0;
  -webkit-box-shadow: inset 0 -2px #2064ad;
  box-shadow: inset 0 -2px #2064ad;
}

.ae-btn-explore:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ae-btn-explore:hover, .ae-btn-explore.hover  {
  background-color: #1ae06f;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}


.ae-btn-explore-green {
  color: #fff !important;
  font-size: 1.2em;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}

.ae-btn-explore-green:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ae-btn-explore-green:hover, .ae-btn-explore.hover  {
  background-color: #1ae06f;
}


.ae-btn-lg{
  width: 270px;
}


.ae-btn-basic{
  color: #000 !important;
  font-size: 1.2em;
  font-weight: 600;
  background: #fff;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: inset 0 -2px #cb7b7b7;
  box-shadow: inset 0 -2px #b7b7b7;
}

.ae-about-section-explore {
  padding-top: 50px;
}


.ae-btn-default-blue{
  color: #218bc3 !important;
  font-size: 1.2em;
  font-weight: 600;
  background: #fff;
  border: 1px solid #218bc3;
  -webkit-box-shadow: inset 0 -2px #218bc3;
  box-shadow: inset 0 -2px #218bc3;
}

.ae-btn-default-blue:hover {
  background-color: #f1f8fd !important;
}

.q-quote{
  font-family: serif;
  font-size: 1.8em;
  color: orange; 
}

.media{
  background: #fff !important;
}

.plus-divider {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1;
  color: #aeafaf;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

hr.style-two {
    border: 0;
    height: 1px;
    width:80%;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


.ae-about-box{
  margin-bottom: 60px;
}


